body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/party.avif);
   

}
#countdown {
    font-size: 36px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#countdown .box{
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    height: 150px;
    width: 150px;
    font-size: 70px;
    line-height: 35px;
}
#countdown .box span{
    font-size: 20px;
}

h1 {
    font-size: 60px;
    color: #fff;
}
header nav ul li ul {
    position: absolute;
    padding-left: 0;
}
header nav ul li ul li{
    margin-left: 0;
}